---
layout: base
---

<article class="archive">
  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-dark-grey" onclick="openCat(event, 'All')">All</button>
    {%- for category in site.categories -%}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <button class="w3-bar-item w3-button tablink" onclick="openCat(event, '{{ category_name }}')">{{ category_name }}</button>
    {%- endfor -%}
  </div>

  <script>
    function openCat(evt, category) {
      var i, x, tablinks;
      x = document.getElementsByClassName("category");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
      }
      document.getElementById(category).style.display = "block";
      evt.currentTarget.className += " w3-dark-grey"; 
    }
  </script>

  {{ content }}

</article>